<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>CodeDiary</title>

		<!-- Libraries -->
		<script src="../static/js/jquery.js"></script>
		<script src="../static/js/materialize.min.js"></script>
		<link rel="stylesheet" href="../static/css/materialize.min.css">
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		

		<!-- Page specific includes -->
	    <link rel="stylesheet" href="../static/css/CodeDiary.css">
	</head>

	  
	
	<div class="row blue white-text z-depth-1" id="top-strip">
		<a class="material-icons white-text" href='/'>keyboard_backspace</a>
	</div>
	<br><Br>
	<body class = "grey lighten-2">
		<div class="container">
			<div class="row">
				<div class="card white blue-text">
					<div class="card-content">
						<div class="card-title grey-text">
							About CodeDiary
						</div>
						<div class="black-text">Created and crafted by Aditya Medhe</div>
						adityamedhe3@gmail.com <br>
						+91 87935 12922 <br>
						/aditya.medhe <br><br>

						<div class="black-text">Tech stack</div>
						<br><br>
						<div class="row">
						<div class="col"><img width="200" src="../static/images/python.png" alt=""></div>
						<div class="col"><img width="230" src="../static/images/flask.png" alt=""></div>
						<div class="col"><img width="200" src="../static/images/sqlite.png" alt=""></div>
						<div class="col"><img width="190" src="../static/images/jquery.png" alt=""></div>
						</div>
					</div>
				</div>

				<div class="card-panel white blue-text">CodeDiary is dedicated to Tito</div>
			</div>
		</div>

		
	</body>