<html>
	<head>
		<script src="../static/js/jquery.js"></script>
		<script src="../static/js/Transceiver.js"></script>
		<script src="../static/js/materialize.min.js"></script>
		<link rel="stylesheet" href="../static/css/materialize.min.css">
		<link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
	</head>

	<body style = "font-family: 'Fira Sans';">
		<div class="row">
			<div class="col l4">			
				<div class="card blue-grey darken-2 white-text">
					<div class="card-content">
						<div id="title" class="card-title">
						</div>
						
						<div id="text">
							
						</div>

						<div id="tags">
							
						</div>
					</div>

					<div class="card-action">
						<button class="btn waves-effect waves-light red white-text lighten-1">
							OK
						</button>
					</div>				
				</div>				
			</div>
		</div>
	</body>
	
		<script>
					
			pt = new Transceiver('127.0.0.1:5000')
			r = pt.getPostsByTags(["memories"], 0, 2 , function(data) {
				$("#title").html(data.posts[0].post_title)
				$("#text").html(data.posts[0].post_text)

				for(t of data.posts[0].tags){
					$("#tags").append("<span class=chip>"+t.tag_name+"</span>")
				}
			})



			function dump(arr,level) {var dumped_text = "<pre>";if(!level) level = 0;var level_padding = "";for(var j=0;j<level+1;j++) level_padding += "    ";	if(typeof(arr) == 'object') { for(var item in arr) {var value = arr[item];if(typeof(value) == 'object') {dumped_text += level_padding + "<b>'" + item + "'</b> ...";dumped_text += dump(value,level+1);	} else {dumped_text += level_padding + "<b>'" + item + "'</b> => \"" + value + "\"<br>";}}} else { dumped_text = "===>"+arr+"<===("+typeof(arr)+")";}return dumped_text;}
		</script>
</html>
