<html>
	<head>
		<script src="../static/js/jquery.js"></script>

		<script src="../static/js/Transceiver.js"></script>
		<script src="../static/js/DOM_Handler.js"></script>
		<script src="../static/js/PostLoader.js"></script>

		<script src="../static/js/materialize.min.js"></script>
		<link rel="stylesheet" href="../static/css/materialize.min.css">
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


	</head>

	<body class="grey-text"style = "font-family: 'Fira Sans'; ">

			
	
	<div class="row">

		<div class="col l3 blue" style="min-height:100%; float:left; position:fixed">
			<div class="progress blue">
				<div class="blue lighten-2 indeterminate">
					
				</div>
			</div>
			<div class="card-panel white">
				<img width="250" src="../static/images/CodeDiary.png" alt="">
			</div>
			<button class="btn red lighten-1 waves-effect waves-light" style ="width:100%">
				ADD A new post
			</button>
			<div class="card white grey-text" style="transition: all 2s;">
				<div class="card-content" style="transition: all 2s;">
					<div class="card-title ">
						Search
					</div>
					<ul class="tabs">
				        <li class="tab col s3 blue-text"><a class="blue-text white" href="#test1">By name</a></li>
				        <li class="tab col s3 blue-text"><a class="blue-text white" href="#test2">By tags</a></li>
				     </ul>
					
					<div class="tabwrap" style="margin-top:20px; transition: all 2s;">
						<div id="test1">
							<input type="text" placeholder="Enter a part of title">
						</div>
						<div id="test2">
							<input type="text" placeholder="Enter tags to search">
							SUGGESTIONS<br>
							<div class="chip">database</div>
							<div class="chip">data-warehouse</div>
							<br><br>SELECTED TAGS<br>
							<div class="chip">java</div>
							<div class="chip">oo-design</div>
							<div class="chip">python</div>
							<div class="chip">flask</div>
						</div>
					</div>
				</div>

				<div class="card-action">
					<button id = "searchbut" class="btn blue white-text waves-effect waves-light">
						search
					</button>
				</div>
			</div>
		</div>	

		<div id="postcontainer" class="col l9 blue lighten-2"	 style="margin-left:320px; min-height:100%;">
			
			
			

		</div>





	</div>		

		<script>

			pt = new Transceiver("127.0.0.1:5000")
			dh = new DOMHandler($("#postcontainer"))
			loader = new PostLoader(pt, dh)

			loader.setSearchTagsFilter(['t1', 'memories'])
			$("#searchbut").on('click', function() {
				loader.loadMorePosts()
			})
		</script>
</html>
